html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: sans-serif; 
  font-size: small;
  background: #fff;
  color: #000;
  border:0px;
}

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

hr.smallGrey {
  background-color: #aaa;
  height: 1px;
  border: 0px;
}

.data, .dataSmall {
  color: #000;
}

.dataSmall {
  font-size: x-small;
}

.info, .infoSmall, .info a, .infoSmall a {
  color: #aaa;
}

.infoSmall {
  font-size: x-small;
}

iframe {
	border: none;
	margin: 0;
	padding: 0;
}

table {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-collapse: collapse;
}

tr {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

td {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

th {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.brainPagingNavigator {
	margin-left: 1px;
	margin-right: 1px;
	text-align: center;
}

.brainPagingNavigator a {
	text-decoration: underline;
	text-align: center;
}

.brainPagingNavigator em {
	text-decoration: none;
	font-style: normal;
	color: #BBB;
}

#page {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  width: 960px;
}

div.sideBar {
	margin-left: 5px;
}

.whiteLink a {
	color: #FFF;
}

.greyBar {
  margin: 0px;
  padding: 0px;
  height: 25px;
  top: 0px;
  left: 0px;
  width: 100%;
  background-image: url(../images/menubar_background.png);
  background-repeat: repeat-x;
}

#footer, #footer a {
	font-size: 10px;
	color: #666666;
  text-decoration: none;
  outline: none;
}

#footer a:hover {
	color: #000;
}

#nav, #nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

#nav a {
  text-decoration: none;
  outline: none;
}

#nav span.menuText {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 6px;
  cursor: default;
  cursor: pointer;
  color: #666666;
  height: 25px;
  font-weight: normal;
}

#nav a.menuLink:hover span.menuText:hover {
  color: #000;
}

#nav li {
  display: inline-block;
  *display: inline; /* fix for < ie8 */
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-left: 1px solid #fff;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

#nav li:hover {
  background-image:url(../images/menubar_background_hover.png);
  color: #000;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

div.roundBox {
  -moz-border-radius: 10px;
  border-radius: 10px;
}

div.blueBorder {
  border: 1px solid #d9e8ef;
}

div.roundBox .greyHeader {
  background-color: #1f333f;
  color: #FFF;
  border-radius: 10px 10px 0px 0px;
  padding: 4px 10px;
  font-weight: bold;
  font-size: 13px;
  background: -moz-linear-gradient(center top, #4f636f, #1f333f);
  background: -webkit-gradient(linear, center top, center bottom, from(#4f636f), to(#1f333f));
}

div.greyHeader a {
  color: #FFF;
}

div.roundBox .whiteHeader {
  background-color: #FFF;
  color: #FFF;
  border-radius: 10px 10px 0px 0px;
  padding: 4px 10px;
}

div.roundBox .whiteBody {
  background-color: #FFF;
  border-radius: 10px;
  padding: 10px;
}

div.roundBox .whiteBottom {
  background-color: #FFF;
  border-radius: 0px 0px 10px 10px;
  padding: 4px 10px;
}

div.roundBox .blueBottom {
  background-color: #d9e8ef;
  border-radius: 0px 0px 10px 10px;
  padding: 4px 10px;
}

fieldset {
	border:1px solid #888;
	padding: 10px;
}
legend {
	color: #000;
	padding: 5px;
  border:1px solid #888;
}

/* Admin data tables */
.adminTable {
	border: 1px solid #FFF;
}

.adminTable thead th {
	border: 1px solid #555;
  background-color: #CCC;
  color: #000;
  border-style: inset;
}

.adminTable th.wicket_orderUp {
  background-color: #999;
  color: #000;
}

.adminTable th.wicket_orderDown {
  background-color: #999;
  color: #000;
}

.adminTable td {
	border: 1px solid #555;
	border-style: inset;
}

div.wicket-modal {
  font-family: sans-serif; 
  font-size: small;
  color: #000;
}

.solidBackground {
	background: #ccc;
	border: 1px solid #000;
	padding: 20px;
}
.box1 {
	background: #bbb;
	color: #000;
	border: 1px solid #fff;
}
.frame1 {
	border: 2px solid #fff;
}
.frame2 {
	border: 1px solid #fff;
}

.vspace {
	height: 10px;
}
.commandLink {
	padding: 5px;
	margin: 10px;
	border: 1px solid #008;
	background: #FFF;
}
.contentDiv {
	background: #fff;
	color: #000;
	margin: 4px;
	font-size: x-small;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #003399;
}
a:hover {
	text-decoration: underline;
}
p {
	margin-top: 8px;
	margin-bottom: 8px;
}
img {
  border-width: 0px;
}
form {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.commentHeader {
	margin-top: 1px;
	padding: 1px 1px 0px 1px;
	height: 16px;
	background: #ddd;
	color: #444;
	font-size: x-small;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}
.comment {
	padding: 4px;
	margin: 0px;
	border: 0px;
	font-family: sans-serif;
	font-size: small; 
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	/*	white-space: pre; */
}
.commentsTable {
	width: 100%;
}
.title {
	font-weight: bold;
	font-size: large;
}
.subtitle {
	font-weight: bold;
	font-size: medium;
}
.subtitle2 {
	font-weight: bold;
	font-size: small;
}
.setTitle {
	font-weight: bold;
	font-size: medium;
	margin: 0px;
}
.searchBar {
	font-size: medium;
	font-weight: bold;
	margin: 0px;
	padding: 3px;
}
.setSubtitle {
	font-size: x-small;
}
.heading {
	font-weight: bold;
	font-size: small;
	background-color: #ddd;
}
.notes {
	padding: 10px;
}
.betaNotice {
	font-size: x-small;
	color: #a00;
}
.legalNotice {
	font-size: x-small;
}
.brainThumbnail {
	border: 1px solid #888;
}
.contentImage {
	float: left;
	margin: 0px;
	margin-right: 5px;
	padding: 0px;
  /* prevent IE from cutting off the bottom of the pictures */
  padding-bottom:2px;
}
.emptyRule {
  height: 1px;
  font-size: 1px;
  margin-bottom: 10px;
  clear:both;
}
/*
columns
*/

.leftWide {
  float: left;
  width: 69%;
  margin-bottom:10px;
}

.rightNarrow {
  float: right;
  width: 29%;
  margin-bottom:10px;
}

.leftWide2 {
  float: left;
  width: 59%;
  margin-bottom:10px;
}

.rightNarrow2 {
  float: right;
  width: 39%;
  margin-bottom:10px;
}

.rightWide {
  float: right;
  width: 69%;
  margin-bottom:10px;
}

.leftNarrow {
  float: left;
  width: 29%;
  margin-bottom:10px;
}

.leftHalf {
  float: left;
  width: 48.5%;
  margin-bottom:10px;
}

.rightHalf {
  float: right;
  width: 48.5%;
  margin-bottom:10px;
}

.leftVWide {
  float: left;
  width: 85%;
  margin-bottom:10px;
}

.rightVNarrow {
  float: right;
  width: 14%;
  margin-bottom:10px;
}

.rightVWide {
  float: right;
  width: 85%;
  margin-bottom:10px;
}

.leftVNarrow {
  float: left;
  width: 14%;
  margin-bottom:10px;
}

/*
  Version History
*/

.versionHistoryTitle
{
  font-family:    Arial;
  font-size:      14pt;
  font-weight:    bold;
  padding-top:    4px;
  padding-bottom: 8px;
  padding-left:   4px;
  padding-right:  4px;
}

.versionHistoryTable
{
  font-family:  Arial;
  font-size:    10pt;
  font-weight:  normal;
  margin-left:  4px;
  margin-right: 4px;
}

.versionHistoryText
{
  font-family:  Arial;
  font-size:    10pt;
  font-weight:  normal;
  margin-left:  4px;
  margin-right: 4px;
}

.versionHistoryNameTitle
{
  font-family:         Arial;
  font-size:           12pt;
  font-weight:         bold;
  padding-top:         2px;
  padding-bottom:      2px;
  padding-left:        20px;
  padding-right:       20px;
  text-align:          left;
  border-top-width:    0px;
  border-bottom-width: 1px;
  border-left-width:   0px;
  border-right-width:  0px;
  border-style:        solid;
  border-color:        black;
}

.versionHistoryNameLatest
{
  font-family:    Arial;
  font-size:      10pt;
  font-weight:    bold;
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   20px;
  padding-right:  20px;
  text-align:     left;
  color:          black;
}

.versionHistoryName
{
  font-family:    Arial;
  font-size:      9pt;
  font-weight:    normal;
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   30px;
  padding-right:  20px;
  text-align:     left;
  color:          gray;
}

.versionHistoryDateTitle
{
  font-family:         Arial;
  font-size:           12pt;
  font-weight:         bold;
  padding-top:         2px;
  padding-bottom:      2px;
  padding-left:        20px;
  padding-right:       10px;
  text-align:          right;
  border-top-width:    0px;
  border-bottom-width: 1px;
  border-left-width:   0px;
  border-right-width:  0px;
  border-style:        solid;
  border-color:        black;
}

.versionHistoryDateLatest
{
  font-family:    Arial;
  font-size:      10pt;
  font-weight:    bold;
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   20px;
  padding-right:  10px;
  text-align:     right;
  color:          black;
}

.versionHistoryDate
{
  font-family:    Arial;
  font-size:      9pt;
  font-weight:    normal;
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   20px;
  padding-right:  10px;
  text-align:     right;
  color:          gray;
}

.versionHistoryVersionTitle
{
  font-family:         Arial;
  font-size:           12pt;
  font-weight:         bold;
  padding-top:         2px;
  padding-bottom:      2px;
  padding-left:        10px;
  padding-right:       20px;
  text-align:          center;
  border-top-width:    0px;
  border-bottom-width: 1px;
  border-left-width:   0px;
  border-right-width:  0px;
  border-style:        solid;
  border-color:        black;
}

.versionHistoryVersionLatest
{
  font-family:    Arial;
  font-size:      10pt;
  font-weight:    bold;
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   10px;
  padding-right:  20px;
  text-align:     right;
  color:          black;
}

.versionHistoryVersion
{
  font-family:    Arial;
  font-size:      9pt;
  font-weight:    normal;
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   10px;
  padding-right:  20px;
  text-align:     right;
  color:          gray;
}

.versionHistoryViewTitle
{
  font-family:    Arial;
  font-size:      12pt;
  font-weight:    bold;
  padding-top:    2px;
  padding-bottom: 2px;
  padding-left:   20px;
  padding-right:  20px;
  text-align:     center;
}

.versionHistoryViewLatest
{
  font-family:    Arial;
  font-size:      10pt;
  font-weight:    normal;
  margin-left:    2px;
  margin-right:   2px;
  padding-top:    0px;
  padding-bottom: 0px;
  padding-left:   8px;
  padding-right:  8px;
  text-align:     center;
}

.versionHistoryView
{
  font-family:    Arial;
  font-size:      10pt;
  font-weight:    normal;
  margin-left:    2px;
  margin-right:   2px;
  padding-top:    0px;
  padding-bottom: 0px;
  padding-left:   8px;
  padding-right:  8px;
  text-align:     center;
}
